.textCima{
    text-align: center;
    font-size: 1em;
}
body{
    font-family: Roboto;
 }
.imageEsquerda{
    float: left;
    height: 40%;
    width: 40%;
    margin-top: 3%;
    margin-left: 3%;
}
.formulario{
    float: right;
    padding-right: 10%;
}
.fieldC{
    border: 2px solid;
    padding: 20px;
    margin-left: 0%;
    margin-top: 0%;
}
.legend{
    font-size: 40px;
}
.formLabel{
    margin-top: -2%;
    
}
.formInput{
    margin-bottom: 0%;
}
.textBottom{
    float: left;
    margin-left: 3%;
}

